<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>vehicles</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>controllers.VehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRentalContracts</servlet-name>
        <servlet-class>controllers.CreateRentalContracts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRentalServlet</servlet-name>
        <servlet-class>controllers.ListRentalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalDetail</servlet-name>
        <servlet-class>controllers.RentalDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeListRental</servlet-name>
        <servlet-class>controllers.EmployeeListRental</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRentalStatusServlet</servlet-name>
        <servlet-class>controllers.UpdateRentalStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleManageServlet</servlet-name>
        <servlet-class>controllers.VehicleManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>controllers.UserCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>controllers.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controllers.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatusToggleServlet</servlet-name>
        <servlet-class>controllers.UserStatusToggleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/vehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRentalContracts</servlet-name>
        <url-pattern>/createRentalContracts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRentalServlet</servlet-name>
        <url-pattern>/listRental</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalDetail</servlet-name>
        <url-pattern>/rentalDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeListRental</servlet-name>
        <url-pattern>/employeeListRental</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRentalStatusServlet</servlet-name>
        <url-pattern>/UpdateRentalStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleManageServlet</servlet-name>
        <url-pattern>/VehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/UserCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/UserUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatusToggleServlet</servlet-name>
        <url-pattern>/UserStatusToggleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
